*{
  box-sizing: border-box;
  margin: 0;
}
.b1{
  background-color: aquamarine;
  color: black;
  border-radius: 20%;
  border: none;
}
.b2{
  background-color: brown;
  color: black;
  border-radius: 20%;
  border: none;
}
span{
  padding: 50px;
}